<img style="width:600px" src='http://securepassword.hopto.org/assets/images/sp.png'>
<table>
	<tr>
		<td>
			<h1> Thank You {{name}} !! </h1>
			<p>We are so lucky to have you as a donor. Thank you for investing in our organization and in the seniors we serve. Your generous gift will go to good use, and we’ll update you throughout the year with program announcements and special events.</p></br>
			
		</td>
	</tr>
</table>
Download yor gift, <a href="{{confirm_link}}">Press here</a>.
<br>
<br>
<br>
