<img style="width:600px" src='http://securepassword.hopto.org/assets/images/sp.png'>
<table>
	<tr>
		<td>
			<h1> Bienvenido {{name}} !! </h1>
		</td>
	</tr>
</table>
Gracias por registrarte en nuestra pagina, <a href="{{confirm_link}}">da click aqui</a> para confirmar tu correo.
<br>
<br>
<br>

Atentamente: The team 5
