<div  id="head" class="secondary"></div>
    <div class="container-fluid">

      <div class="navbar navbar-inverse navbar-fixed-top headroom" >
    		<div class="container">
    			<div class="navbar-header">
    				<!-- Button for smallest screens -->
    				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
    				<a class="navbar-brand" href="/"><img src="/assets/images/logo.png" style="width:150px;" alt="Secure Password"></a>
    			</div>
    			<div class="navbar-collapse collapse">
    				<ul class="nav navbar-nav pull-right">
              {{#if session}}
              <li><a href="/">Home</a></li>
              <li class="active"><a href="/about">About</a></li>
              <li><a href="/contact">Contact</a></li>
              <li><a href="/wallet">Wallet</a></li>
              <li><a  class="btn" href="/login/logout">SIGN OUT</a></li>
                  {{^}}
                  <li><a href="/">Home</a></li>
                  <li class="active"><a href="/about">About</a></li>
                  <li><a href="/contact">Contact</a></li>
                  <li><a class="btn" href="/login">SIGN IN / SIGN UP</a></li>
                  {{/if}}
    				</ul>
    			</div><!--/.nav-collapse -->
    		</div>
    	</div>


</div>
	<!-- container -->
	<div class="container">

		<ol class="breadcrumb">
			<li><a href="/">Home</a></li>
			<li class="active">About</li>
		</ol>

		<div class="row">

			<!-- Article main content -->
			<article class="col-sm-8 maincontent">
				<header class="page-header">
					<h1 class="page-title">About us</h1>
				</header>
        <h3>Secure Password<img src="assets/images/mac.jpg" alt="" class="img-rounded pull-right" width="300" ></h3>
        				<p>Simplifying how people interact with each other and the world around them to drive meaningful insight, deeper relationships and better outcomes for all has helped.</p>
        				        </p><p>Our easy-to-use products are adopted by professionals and leveraged by small to medium-sized businesses the world over who are looking for increased insight into their customers' journeys, simpler internal and external collaboration, and a more empowered workforce.</p>
        <h3>Mission</h3>
        <p>The main purpose of Secure Password is to offer a professional and simple service that helps to facilitate all our users the administration of passwords, helping them to protect themselves from theft and the loss of them, generating awareness and security throughout the community of Internet.</p>
        <p>Educate the users about the importance of strong and long passwords.</p>

        <h3>Vision</h3>
        <p>Secure Password aims to be implemented to the main current browsers (Opera, Edge, Safari, Mozilla), as well as in a mobile application that provides the same services, with the advantage of being able to access your passwords everywhere.</p>




			</article>
			<!-- /Article -->

			<!-- Sidebar -->
			<aside class="col-sm-4 sidebar sidebar-right">

				<div class="widget">
					<h4>WE BELIEVE IN</h4>
					<ul class="list-unstyled list-spaces">
						<li><a href="">Building great products</a><br><span class="small text-muted">Simplifying how people connect to create endless possibilities. The idea that a successful company is a growing company Everything good comes from growth, and all must contribute.</span></li>
						<li><a href="">Transparency</a><br><span class="small text-muted">Be open, honest, trustworthy and fair to one another.</span></li>
						<li><a href="">Developing our employees</a><br><span class="small text-muted">Our future leaders already work here, and we want them to flourish.</span></li>
						<li><a href="">Having fun</a><br><span class="small text-muted">We are committed to creating a great environment.</span></li>
						<li><a href="">Leadership</a><br><span class="small text-muted">The Secure password leadership team brings passion and deep existence in delivering simple and secure connectivity solutions to mobile professionals and IT support providers worldwide. Their passion and knowledge is what makes SECUREPASS a different kind of company –the kind that creates elegant solutions for large corporations, small and medium-size business, internal and outsourced IT service providers, mobile providers, and individual home PC and technicians.</span></li>
					</ul>
				</div>

			</aside>
			<!-- /Sidebar -->

		</div>
	</div>	<!-- /container -->
<div id="head" style="background:transparent;"class="secondary"></div>

		<!-- /Footer -->

		<footer id="footer" class="top-space">

			<div class="footer1">
				<div class="container">
					<div class="row">

						<div class="col-md-3 widget">
							<h3 class="widget-title">Contact</h3>
							<div class="widget-body">
								<p>01 33 1368 2200<br>
									<a href="mailto:#">team5@up.edu.mx</a><br>
									<br>
									Calz Nueva 49, Granja, 45010 Zapopan, Jal.
								</p>
							</div>
						</div>

						<div class="col-md-3 widget">
							<h3 class="widget-title">Follow me</h3>
							<div class="widget-body">
								<p class="follow-me-icons">
									<a href=""><i class="fa fa-twitter fa-2"></i></a>
									<a href=""><i class="fa fa-dribbble fa-2"></i></a>
									<a href=""><i class="fa fa-github fa-2"></i></a>
									<a href=""><i class="fa fa-facebook fa-2"></i></a>
								</p>
							</div>
						</div>

						<div class="col-md-6 widget">
							<h3 class="widget-title"> Get started today</h3>
							<div class="widget-body">
								<p>Secure password simplifies your online life by remembering your passwords for you. </p>
								<p>With Secure password to manage your logins, it's easy to have a strong, unique password for every online account and improve your online security. Get started today </p>
							</div>
						</div>

					</div> <!-- /row of widgets -->
				</div>
			</div>

			<div class="footer2">
				<div class="container">
					<div class="row">

						<div class="col-md-6 widget">
							<div class="widget-body">
								<p class="simplenav">
									<a href="/">Home</a> |
									<a href="/about">About</a> |
									<a href="/contact">Contact</a> |
									<b><a href="/users/create">Sign up</a></b>
								</p>
							</div>
						</div>




						<div class="col-md-6 widget">
							<div class="widget-body">
								<p class="text-right">
									Copyright &copy; 2017,Designed by <a href="http://securepassword.hopto.org/" rel="designer">Team 5</a>
								</p>
							</div>
						</div>

					</div> <!-- /row of widgets -->
				</div>
			</div>

		</footer>
