<div  id="head" class="secondary"></div>
    <div class="container-fluid">

      <div class="navbar navbar-inverse navbar-fixed-top headroom" >
    		<div class="container">
    			<div class="navbar-header">
    				<!-- Button for smallest screens -->
    				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
    				<a class="navbar-brand" href="/"><img src="/assets/images/logo.png" style="width:150px;" alt="Secure Password"></a>
    			</div>
    			<div class="navbar-collapse collapse">
    				<ul class="nav navbar-nav pull-right">
              {{#if session}}
              <li><a href="/">Home</a></li>
              <li><a href="/about">About</a></li>
              <li class="active"><a href="/contact">Contact</a></li>
              <li><a href="/wallet">Wallet</a></li>
              <li><a  class="btn" href="/login/logout">SIGN OUT</a></li>
                  {{^}}
                  <li><a href="/">Home</a></li>
                  <li><a href="/about">About</a></li>
                  <li class="active"><a href="/contact">Contact</a></li>
                  <li><a class="btn" href="/login">SIGN IN / SIGN UP</a></li>
                  {{/if}}
    				</ul>
    			</div><!--/.nav-collapse -->
    		</div>
    	</div>


</div>
	<!-- container -->
	<div class="container">

		<ol class="breadcrumb ">
			<li><a href="/">Home</a></li>
			<li class="active">Contact</li>
		</ol>

		<div class="row">

			<!-- Article main content -->
			<article class="col-sm-9 maincontent">
				<header class="page-header">
					<h1 class="page-title">Contact us</h1>
				</header>


				<p>
					We’d love to hear from you. Interested in working together? Fill out the form below with some info about your project and I will get back to you as soon as I can. Please allow a couple days for me to respond.
				</p>
				<br>
					<form method="post" action="/contact">
						<div class="row">
							<div class="col-sm-4">
								<input class="form-control" type="text" placeholder="Name" name="name">
							</div>
							<div class="col-sm-4">
								<input class="form-control" type="text" placeholder="Email" name="email">
							</div>
							<div class="col-sm-4">
								<input class="form-control" type="text" placeholder="Phone" name="phone">
							</div>
						</div>
						<br>
						<div class="row">
							<div class="col-sm-12">
								<textarea placeholder="Type your message here..." class="form-control" rows="9" name="textt"></textarea>
							</div>
						</div>
						<br>
						<div class="row">
							<div class="col-sm-6">
								<label class="checkbox"><input type="checkbox"> Sign up for newsletter</label>
							</div>
							<div class="col-sm-6 text-right">
								<input class="btn btn-action" type="submit" value="Send message">
							</div>
						</div>
					</form>

          {{#if flag}}
          <script>alert('Mail sent')</script>
          {{^}}
          {{/if}}

			</article>
			<!-- /Article -->

			<!-- Sidebar -->
			<aside class="col-sm-3 sidebar sidebar-right">

				<div class="widget">
					<h4>Address</h4>
					<address>
						Calz Nueva 49, Granja, 45010 Zapopan, Jal.
					</address>
					<h4>Phone:</h4>
					<address>
						01 33 1368 2200
					</address>
				</div>

			</aside>
			<!-- /Sidebar -->

		</div>
	</div>	<!-- /container -->

	<section class="container-full top-space">
		<div id="map"></div>
	</section>

<div id="head" style="background:transparent;"class="secondary"></div>

<!-- /Footer -->

<footer id="footer" class="top-space">

	<div class="footer1">
		<div class="container">
			<div class="row">

				<div class="col-md-3 widget">
					<h3 class="widget-title">Contact</h3>
					<div class="widget-body">
						<p>01 33 1368 2200<br>
							<a href="mailto:#">team5@up.edu.mx</a><br>
							<br>
							Calz Nueva 49, Granja, 45010 Zapopan, Jal.
						</p>
					</div>
				</div>

				<div class="col-md-3 widget">
					<h3 class="widget-title">Follow me</h3>
					<div class="widget-body">
						<p class="follow-me-icons">
							<a href=""><i class="fa fa-twitter fa-2"></i></a>
							<a href=""><i class="fa fa-dribbble fa-2"></i></a>
							<a href=""><i class="fa fa-github fa-2"></i></a>
							<a href=""><i class="fa fa-facebook fa-2"></i></a>
						</p>
					</div>
				</div>

				<div class="col-md-6 widget">
					<h3 class="widget-title"> Get started today</h3>
					<div class="widget-body">
						<p>Secure password simplifies your online life by remembering your passwords for you. </p>
						<p>With Secure password to manage your logins, it's easy to have a strong, unique password for every online account and improve your online security. Get started today </p>
					</div>
				</div>

			</div> <!-- /row of widgets -->
		</div>
	</div>

	<div class="footer2">
		<div class="container">
			<div class="row">

				<div class="col-md-6 widget">
					<div class="widget-body">
						<p class="simplenav">
							<a href="/">Home</a> |
							<a href="/about">About</a> |
							<a href="/contact">Contact</a> |
							<b><a href="/users/create">Sign up</a></b>
						</p>
					</div>
				</div>

				<div class="col-md-6 widget">
					<div class="widget-body">
						<p class="text-right">
							Copyright &copy; 2017,Designed by <a href="http://securepassword.hopto.org/" rel="designer">Team 5</a>
						</p>
					</div>
				</div>

			</div> <!-- /row of widgets -->
		</div>
	</div>

</footer>



	<!-- Google Maps -->
	<script src="https://maps.googleapis.com/maps/api/js?key=&amp;sensor=false&amp;extension=.js"></script>
	<script src="assets/js/google-map.js"></script>
