<div  id="head" class="secondary"></div>
    <div class="container-fluid">

      <div class="navbar navbar-inverse navbar-fixed-top headroom" >
    		<div class="container">
    			<div class="navbar-header">
    				<!-- Button for smallest screens -->
    				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
    				<a class="navbar-brand" href="/"><img src="/assets/images/logo.png" style="width:150px;" alt="Secure Password"></a>
    			</div>
    			<div class="navbar-collapse collapse">
    				<ul class="nav navbar-nav pull-right">
              {{#if session}}
              <li><a href="/">Home</a></li>
              <li><a href="/about">About</a></li>
              <li><a href="/contact">Contact</a></li>
              <li><a href="/wallet">Wallet</a></li>
              <li><a  class="btn" href="/login/logout">SIGN OUT</a></li>
                  {{^}}
                  <li><a href="/">Home</a></li>
                  <li><a href="/about">About</a></li>
                  <li><a href="/contact">Contact</a></li>
                  <li><a class="btn" href="/login">SIGN IN / SIGN UP</a></li>
                  {{/if}}
    				</ul>
    			</div><!--/.nav-collapse -->
    		</div>
    	</div>


</div>

<!-- container -->
<div class="container">

  <ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li class="active">Registration</li>
  </ol>

  <div class="row">

    <!-- Article main content -->
    <article class="col-xs-12 maincontent">
      <header class="page-header">
        <h1 class="page-title">Registration</h1>
      </header>

      <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div class="panel panel-default">
          <div class="panel-body">
            <h3 class="thin text-center">Register a new account</h3>
            <p class="text-center text-muted">Already registered? <a href="/login">Login</a> </p>
            <hr>

            <form action="/users/createUser" method="post">
              <div class="form-group">
                  <label for="name">Name</label>
                  <input type="text" id="name" name="name" class="form-control">
              </div>
              <div class="form-group">
                  <label for="password">Password</label>
                  <input type="password" id="password" name="password" class="form-control">
              </div>
              <div class="form-group">
                  <label for="email">E-Mail</label>
                  <input type="text" id="email" name="email" class="form-control">
              </div>
              <div class="form-group">
                  <label for="Address">Phone</label>
                  <input type="text" id="address" name="address" class="form-control">
              </div>

              <hr>

              <div class="row">
                <div class="col-lg-8">
                  <label class="checkbox">
                    <input type="checkbox">
                    I've read the <a href="/users/create">Terms and Conditions</a>
                  </label>
                </div>
                <div class="col-lg-4 text-right">
                  <button class="btn btn-action" type="submit">Register</button>
                </div>
              </div>
            </form>
          </div>
        </div>

      </div>

    </article>
    <!-- /Article -->

  </div>
</div>	<!-- /container -->
<div id="head" style="background:transparent;"class="secondary"></div>


<!-- /Footer -->

<footer id="footer" class="top-space">

  <div class="footer1">
    <div class="container">
      <div class="row">

        <div class="col-md-3 widget">
          <h3 class="widget-title">Contact</h3>
          <div class="widget-body">
            <p>01 33 1368 2200<br>
              <a href="mailto:#">team5@up.edu.mx</a><br>
              <br>
              Calz Nueva 49, Granja, 45010 Zapopan, Jal.
            </p>
          </div>
        </div>

        <div class="col-md-3 widget">
          <h3 class="widget-title">Follow me</h3>
          <div class="widget-body">
            <p class="follow-me-icons">
              <a href=""><i class="fa fa-twitter fa-2"></i></a>
              <a href=""><i class="fa fa-dribbble fa-2"></i></a>
              <a href=""><i class="fa fa-github fa-2"></i></a>
              <a href=""><i class="fa fa-facebook fa-2"></i></a>
            </p>
          </div>
        </div>

        <div class="col-md-6 widget">
          <h3 class="widget-title"> Get started today</h3>
          <div class="widget-body">
            <p>Secure password simplifies your online life by remembering your passwords for you. </p>
            <p>With Secure password to manage your logins, it's easy to have a strong, unique password for every online account and improve your online security. Get started today </p>
          </div>
        </div>

      </div> <!-- /row of widgets -->
    </div>
  </div>

  <div class="footer2">
    <div class="container">
      <div class="row">

        <div class="col-md-6 widget">
          <div class="widget-body">
            <p class="simplenav">
              <a href="/">Home</a> |
              <a href="/about">About</a> |
              <a href="/contact">Contact</a> |
              <b><a href="/users/create">Sign up</a></b>
            </p>
          </div>
        </div>

        <div class="col-md-6 widget">
          <div class="widget-body">
            <p class="text-right">
              Copyright &copy; 2017,Designed by <a href="http://securepassword.hopto.org/" rel="designer">Team 5</a>
            </p>
          </div>
        </div>

      </div> <!-- /row of widgets -->
    </div>
  </div>

</footer>
