<div  id="head" class="secondary"></div>
    <div class="container-fluid">

      <div class="navbar navbar-inverse navbar-fixed-top headroom" >
    		<div class="container">
    			<div class="navbar-header">
    				<!-- Button for smallest screens -->
    				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
    				<a class="navbar-brand" href="/"><img src="/assets/images/logo.png" style="width:150px;" alt="Secure Password"></a>
    			</div>
    			<div class="navbar-collapse collapse">
    				<ul class="nav navbar-nav pull-right">
              {{#if session}}
              <li><a href="/">Home</a></li>
              <li><a href="/about">About</a></li>
              <li><a href="/contact">Contact</a></li>
              <li class="active"><a href="/wallet">Wallet</a></li>
              <li><a  class="btn" href="/login/logout">SIGN OUT</a></li>
                  {{^}}
                  <li><a href="/">Home</a></li>
                  <li><a href="/about">About</a></li>
                  <li><a href="/contact">Contact</a></li>
                  <li><a class="btn" href="/login">SIGN IN / SIGN UP</a></li>
                  {{/if}}
    				</ul>
    			</div><!--/.nav-collapse -->
    		</div>
    	</div>


</div>
<div class="container">

  <ol class="breadcrumb row-fluid">
    <li><a href="/">Home</a></li>
    <li class="active">Wallet</li>
  </ol>
  <header class="page-header">
    <h1 class="page-title">Wallet</h1>
  </header>

<h1>Passwords for : {{name}}</h1>

<div>
<div class="panel panel-default">
  <div class="panel-heading ">
          <div class="panel-body  col-md-6 col-sm-offset-3">
            {{#if flag}}
            {{^}}
                <table class="table-mine">
                  <thead>
                    <tr>
                      <th >Domains</th>
                      <th class="text-left">Passwords</th>
                    </tr>
                  </thead>
                  <tbody class="table-hover">
                    {{#each pass}}
                    <tr>
                      <td class="text-left" style="white-space: nowrap;"><button  onclick="popup('{{this.dom}}')" style="padding: 0px;border: none;background: none;" type="submit" class="typcn typcn-delete"></button>
                      {{this.dom}}</td>
                      <td class="text-left">{{this.pass}}</td>
                        </tr>
                    {{/each}}

                    </tbody>
                  </table>
              {{/if}}
               </div>

             <div class="panel-body">
               <div class="col-md-3 col-sm-offset-3" >
                         <form action="/wallet" method="get">
                          <button type="submit" class="btn btn-action" >Done</button>
                         </form>
                         </div>
                          <div class="col-md-3" >
                        <button type="submit" onclick="addDomain()" class="btn btn-action"  >Add Domain</button>
                      </div>
                </div>





               </div>
  </div>
</div>
</div>

<div id="head" style="background:transparent;"class="secondary"></div>

</nav>
<link rel='stylesheet' href='/stylesheets/cyrfB.css' />
<link rel='stylesheet', href='/assets/css/popupS.min.css'/>
<script src="/assets/js/popupS.min.js"/>
<script src="https://cdn.rawgit.com/zenorocha/clipboard.js/v1.7.1/dist/clipboard.min.js"></script>



     <script>
          function popup(domain) {
              popupS.modal({
                //  content:  '<div> <div style="padding: 5px;"></div><label>If you delete the domain <i style="font-size: 16px;">'+domain+' </i>you will not be able to recover it, are you sure do you want to delete it?</label> '+'<div class="col-md-4" style="position: fixed;top: 50%;padding: 15px;left: 40%;"><form action="/wallet/editWallet" method="get"><button type="submit" class="btn btn-action">Cancel</button></form></div><div class="col-md-4" style="position: fixed;top: 50%;right: //50%;padding: 15px;"><form action="/wallet/delPass/'+domain+'" method="post"><button type="submit" class="btn btn-action">Delete</button></form></div></div>'
                content:'<div >'+
                      '<div style="padding: 5px;"></div>'+
                      '<label>If you delete the domain <i style="font-size: 16px;color: orange;">'+domain+' </i>you will not be able to recover it, are you sure do you want to delete it?</label> '+

                            '<div class="col-md-4" style="position: fixed;top: 50%;padding: 15px;left: 40%;">'+
                            '<form action="/wallet/editWallet" method="GET">'+
                            '<button type="submit" class="btn btn-action">Cancel</button></form></div>'+
                            '</br></br></br>'+
                          '<div class="col-md-4" style="position: fixed;top: 50%;right:50%;padding: 15px;">'+
                          '<form action="/wallet/delPass/'+domain+'" method="POST">'+
                          '<button type="submit" class="btn" style="background-color:#f44336;color:white;">Delete</button></form></div>'+

                  '</div>'
          });
        };
          </script>

          <script>
               function addDomain() {
                   popupS.modal({
                     //  content:  '<div> <div style="padding: 5px;"></div><label>If you delete the domain <i style="font-size: 16px;">'+domain+' </i>you will not be able to recover it, are you sure do you want to delete it?</label> '+'<div class="col-md-4" style="position: fixed;top: 50%;padding: 15px;left: 40%;"><form action="/wallet/editWallet" method="get"><button type="submit" class="btn btn-action">Cancel</button></form></div><div class="col-md-4" style="position: fixed;top: 50%;right: //50%;padding: 15px;"><form action="/wallet/delPass/'+domain+'" method="post"><button type="submit" class="btn btn-action">Delete</button></form></div></div>'
                     content:'<div class="row">'+
                      '<div style="padding: 5px;"></div>'+
                        ' <div class="col-md-12 ">'+
                            ' <h1>Add Domain</h1></br>'+
                             '<form action="/wallet/addPass" method="post">'+
                              '   <div class="form-group">'+
                                '     <label for="domain">Domain</label>'+
                                '     <input type="text" id="domain" name="domain" class="form-control">'+
                                ' </div>'+
                                 '<button type="submit" class="btn btn-action">Add</button>'+
                             '</form>'+
                            ' </br>'+
                        ' </div>'+
                        ' </div>'+
                    ' </div>'
               });
             };
               </script>

<script>new Clipboard('.btn')</script>


<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/typicons/2.0.9/typicons.css' />


<!-- /Footer -->

<footer id="footer" class="top-space">

  <div class="footer1">
    <div class="container">
      <div class="row">

        <div class="col-md-3 widget">
          <h3 class="widget-title">Contact</h3>
          <div class="widget-body">
            <p>01 33 1368 2200<br>
              <a href="mailto:#">team5@up.edu.mx</a><br>
              <br>
              Calz Nueva 49, Granja, 45010 Zapopan, Jal.
            </p>
          </div>
        </div>

        <div class="col-md-3 widget">
          <h3 class="widget-title">Follow me</h3>
          <div class="widget-body">
            <p class="follow-me-icons">
              <a href=""><i class="fa fa-twitter fa-2"></i></a>
              <a href=""><i class="fa fa-dribbble fa-2"></i></a>
              <a href=""><i class="fa fa-github fa-2"></i></a>
              <a href=""><i class="fa fa-facebook fa-2"></i></a>
            </p>
          </div>
        </div>

        <div class="col-md-6 widget">
          <h3 class="widget-title"> Get started today</h3>
          <div class="widget-body">
            <p>Secure password simplifies your online life by remembering your passwords for you. </p>
            <p>With Secure password to manage your logins, it's easy to have a strong, unique password for every online account and improve your online security. Get started today </p>
          </div>
        </div>

      </div> <!-- /row of widgets -->
    </div>
  </div>

  <div class="footer2">
    <div class="container">
      <div class="row">

        <div class="col-md-6 widget">
          <div class="widget-body">
            <p class="simplenav">
              <a href="/">Home</a> |
              <a href="/about">About</a> |
              <a href="/contact">Contact</a> |
              <b><a href="/users/create">Sign up</a></b>
            </p>
          </div>
        </div>

        <div class="col-md-6 widget">
          <div class="widget-body">
            <p class="text-right">
              Copyright &copy; 2017,Designed by <a href="http://securepassword.hopto.org/" rel="designer">Team 5</a>
            </p>
          </div>
        </div>

      </div> <!-- /row of widgets -->
    </div>
  </div>

</footer>
