<div  id="head" class="secondary"></div>
    <div class="container-fluid">

      <div class="navbar navbar-inverse navbar-fixed-top headroom" >
    		<div class="container">
    			<div class="navbar-header">
    				<!-- Button for smallest screens -->
    				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
    				<a class="navbar-brand" href="/"><img src="/assets/images/logo.png" style="width:150px;" alt="Secure Password"></a>
    			</div>
    			<div class="navbar-collapse collapse">
    				<ul class="nav navbar-nav pull-right">
              {{#if session}}
              <li class="active"><a href="/">Home</a></li>
              <li><a href="/about">About</a></li>
              <li><a href="/contact">Contact</a></li>
              <li><a href="/wallet">Wallet</a></li>
              <li><a  class="btn" href="/login/logout">SIGN OUT</a></li>
                  {{^}}
                  <li class="active"><a href="/">Home</a></li>
                  <li><a href="/about">About</a></li>
                  <li><a href="/contact">Contact</a></li>
                  <li><a class="btn" href="/login">SIGN IN / SIGN UP</a></li>
                  {{/if}}
    				</ul>
    			</div><!--/.nav-collapse -->
    		</div>
    	</div>


</div>
<nav >
	<!-- Header -->
	<div id="head">
		<div class="container">
			<div class="row">
				<h1 class="lead">The best way to manage passwords.</h1>
				<p class="tagline">Memorize only your master password. Secure password takes care to remember all the others.</p>
        <p><a class="btn btn-default btn-lg" href="/about" role="button">MORE INFO</a> <a class="btn btn-action btn-lg" role="button" href="/users/create">GET STARTED</a></p>
        </div>
		</div>
	</div>
	<!-- /Header -->

	<!-- Intro -->
	<div class="container text-center">
		<br> <br>
		<h2 class="thin">Autopilot for all your passwords</h2>
		<p class="text-muted">
			Secure password will allow you to forget complicated procedures to recover passwords and spend that time to enjoy the things that you like.
		</p>
	</div>
	<!-- /Intro-->

	<!-- Highlights - jumbotron -->
	<div class="jumbotron top-space">
		<div class="container">

			<h3 class="text-center thin">Reasons to use Secure password</h3>

			<div class="row">
				<div class="col-md-3 col-sm-6 highlight">
					<div class="h-caption"><h4><i class="fa fa-cogs fa-5"></i>Access granted.</h4></div>
					<div class="h-body text-center">
						<p>Secure password simplifies your online life by remembering your passwords for you.</p>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 highlight">
					<div class="h-caption"><h4><i class="fa fa-flash fa-5"></i>Find a master password hard to guess</h4></div>
					<div class="h-body text-center">
						<p>To create a super-secure master password, nothing like a memorable passphrase. Seek Inspiration in Your Life: Look for inspiration in your life: it can be the lyrics of a song, a phrase from a movie or the color of your favorite mug. Check out the helpful tips from our blog in the How to create a secure master password entry. </p>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 highlight">
					<div class="h-caption"><h4><i class="fa fa-heart fa-5"></i>Explore your wallet</h4></div>
					<div class="h-body text-center">
						<p>Forgetting passwords is a thing of the past. The first step to take advantage of Secure password is to fill the vault. To do this, you have many options: allowing Secure password to save sites when you log in to them, import sites from your e-mail and import / load the contents of another password manager, among others.</p>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 highlight">
					<div class="h-caption"><h4><i class="fa fa-smile-o fa-5"></i>Goodbye to repeated passwords.</h4></div>
					<div class="h-body text-center">
						<p>The built-in password generator allows you to create long random passwords that will keep hackers at bay.</p>
					</div>
				</div>
			</div> <!-- /row  -->

		</div>
	</div>
	<!-- /Highlights -->
  <div class="container text-center">
		<br> <br>
    <h2 class="thin">As a good password manager, our number one priority is to protect your data. We have designed Secure password so that we never have the key to your account.</h2>

		<p class="text-muted">
      We have implemented SHA-256 encryption to ensure total security in the cloud. You create an account with an e-mail address and a secure master password to locally generate your unique encryption key.
		</p>
	</div>
	<!-- container -->
	<div class="container text-center">


		<div class="jumbotron top-space">
			<h4>Thanks to your donations, secure password can be kept operating so that you can enjoy this service.</h4>
			<p class="text-muted">You can make a donation via paypal by clicking on the donate button.			</p>


      <form method="get" action="/paypal">
              <input type="image"  href="/paypal" src="/assets/images/donate.png" style="height: 70px;width: 120px;" name="submit" alt="PayPal - The safer, easier way to pay online!">
      </form>
  		</div>
    <div id="head" style="background:transparent;"class="secondary"></div>
</nav >

<!-- /Footer -->

<footer id="footer" class="top-space">

	<div class="footer1">
		<div class="container">
			<div class="row">

				<div class="col-md-3 widget">
					<h3 class="widget-title">Contact</h3>
					<div class="widget-body">
						<p>01 33 1368 2200<br>
							<a href="mailto:#">team5@up.edu.mx</a><br>
							<br>
							Calz Nueva 49, Granja, 45010 Zapopan, Jal.
						</p>
					</div>
				</div>

				<div class="col-md-3 widget">
					<h3 class="widget-title">Follow me</h3>
					<div class="widget-body">
						<p class="follow-me-icons">
							<a href=""><i class="fa fa-twitter fa-2"></i></a>
							<a href=""><i class="fa fa-dribbble fa-2"></i></a>
							<a href=""><i class="fa fa-github fa-2"></i></a>
							<a href=""><i class="fa fa-facebook fa-2"></i></a>
						</p>
					</div>
				</div>

				<div class="col-md-6 widget">
					<h3 class="widget-title"> Get started today</h3>
					<div class="widget-body">
						<p>Secure password simplifies your online life by remembering your passwords for you. </p>
						<p>With Secure password to manage your logins, it's easy to have a strong, unique password for every online account and improve your online security. Get started today </p>
					</div>
				</div>

			</div> <!-- /row of widgets -->
		</div>
	</div>

	<div class="footer2">
		<div class="container">
			<div class="row">

				<div class="col-md-6 widget">
					<div class="widget-body">
						<p class="simplenav">
							<a href="/">Home</a> |
							<a href="/about">About</a> |
							<a href="/contact">Contact</a> |
							<b><a href="/users/create">Sign up</a></b>
						</p>
					</div>
				</div>

				<div class="col-md-6 widget">
					<div class="widget-body">
						<p class="text-right">
							Copyright &copy; 2017,Designed by <a href="http://securepassword.hopto.org/" rel="designer">Team 5</a>
						</p>
					</div>
				</div>

			</div> <!-- /row of widgets -->
		</div>
	</div>

</footer>






<link rel="stylesheet" href="/assets/css/bootstrap.min.css">

<link rel='stylesheet' href='/stylesheets/style.css'>


<!-- Custom styles for our template -->
<link rel="stylesheet" href="/assets/css/bootstrap-theme.css" media="screen" >
<link rel="stylesheet" href="/assets/css/main.css">
<script src="/javascripts/jquery.min.js"></script>
<script src="/javascripts/bootstrap.min.js"></script>
<script src="/assets/js/headroom.min.js"></script>
<script src="/assets/js/jQuery.headroom.min.js"></script>
<script src="/assets/js/template.js"></script>
