<div  id="head" class="secondary"></div>
    <div class="container-fluid">

      <div class="navbar navbar-inverse navbar-fixed-top headroom" >
    		<div class="container">
    			<div class="navbar-header">
    				<!-- Button for smallest screens -->
    				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
    				<a class="navbar-brand" href="/"><img src="/assets/images/logo.png" style="width:150px;" alt="Secure Password"></a>
    			</div>
    			<div class="navbar-collapse collapse">
    				<ul class="nav navbar-nav pull-right">
              {{#if session}}
              <li><a href="/">Home</a></li>
              <li><a href="/about">About</a></li>
              <li><a href="/contact">Contact</a></li>
              <li ><a href="/wallet">Wallet</a></li>
              <li><a  class="btn" href="/login/logout">SIGN OUT</a></li>
                  {{^}}
                  <li><a href="/">Home</a></li>
                  <li><a href="/about">About</a></li>
                  <li><a href="/contact">Contact</a></li>
                  <li><a class="btn" href="/login">SIGN IN / SIGN UP</a></li>
                  {{/if}}
    				</ul>
    			</div><!--/.nav-collapse -->
    		</div>
    	</div>


</div>


<div class="container">

  <ol class="breadcrumb row-fluid">
    <li><a href="/">Home</a></li>
    <li class="active">Donate</li>
  </ol>
  <header class="page-header">
    <h1 class="page-title">Donate</h1>
  </header>

  <div class="panel panel-default" style="width:40%;margin:0 auto; margin-top:10%;background-color: #f5f5f5;">

  <div class="panel-heading" style="background-color: black;color:white;"><h3>Paypal Payment</h3></div>
  <div class="panel-body" style="height:40%; text-align:center;" >
   <form class="form-horizontal" role="form" id="paypalForm" method="post" action="/paypal/paynow">
    <div class="form-group">
      <label class="control-label col-sm-2" for="amount">Amount:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" name="amount" placeholder="Enter Amount" required="required" value="2">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="currency">Currency:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" name="currency" placeholder="Enter Currency Type" value="MXN" required="required">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="description">Description:</label>
      <div class="col-sm-10">
        <textarea class="form-control" name="description" placeholder="Enter Description">Payment</textarea>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2" style="margin: 0 auto;" >
        <button id="send" class="btn btn-action btn-lg" type="submit">
          Pay Now
        </button>
      </div>
    </div>
  </form>
  </div>
</div>
</div>







<div id="head" style="background:transparent;"class="secondary"></div>

</nav>

<link rel='stylesheet' href='/stylesheets/cyrfB.css' />
<script src="https://cdn.rawgit.com/zenorocha/clipboard.js/v1.7.1/dist/clipboard.min.js"></script>

<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/typicons/2.0.9/typicons.css' />



<!-- /Footer -->

<footer id="footer" class="top-space">

  <div class="footer1">
    <div class="container">
      <div class="row">

        <div class="col-md-3 widget">
          <h3 class="widget-title">Contact</h3>
          <div class="widget-body">
            <p>01 33 1368 2200<br>
              <a href="mailto:#">team5@up.edu.mx</a><br>
              <br>
              Calz Nueva 49, Granja, 45010 Zapopan, Jal.
            </p>
          </div>
        </div>

        <div class="col-md-3 widget">
          <h3 class="widget-title">Follow me</h3>
          <div class="widget-body">
            <p class="follow-me-icons">
              <a href=""><i class="fa fa-twitter fa-2"></i></a>
              <a href=""><i class="fa fa-dribbble fa-2"></i></a>
              <a href=""><i class="fa fa-github fa-2"></i></a>
              <a href=""><i class="fa fa-facebook fa-2"></i></a>
            </p>
          </div>
        </div>

        <div class="col-md-6 widget">
          <h3 class="widget-title"> Get started today</h3>
          <div class="widget-body">
            <p>Secure password simplifies your online life by remembering your passwords for you. </p>
            <p>With Secure password to manage your logins, it's easy to have a strong, unique password for every online account and improve your online security. Get started today </p>
          </div>
        </div>

      </div> <!-- /row of widgets -->
    </div>
  </div>

  <div class="footer2">
    <div class="container">
      <div class="row">

        <div class="col-md-6 widget">
          <div class="widget-body">
            <p class="simplenav">
              <a href="/">Home</a> |
              <a href="/about">About</a> |
              <a href="/contact">Contact</a> |
              <b><a href="/users/create">Sign up</a></b>
            </p>
          </div>
        </div>

        <div class="col-md-6 widget">
          <div class="widget-body">
            <p class="text-right">
              Copyright &copy; 2017,Designed by <a href="http://securepassword.hopto.org/" rel="designer">Team 5</a>
            </p>
          </div>
        </div>

      </div> <!-- /row of widgets -->
    </div>
  </div>

</footer>
