<div>
<img src="/assets/images/spPlugin.png" alt="Secure Password">
</div>
  <h3 >&nbsp;&nbsp;Readme</h3>

          <div class="container">
                  <div>
                  <p>Before using this plugin you must first register on <a href="http://securepassword.hopto.org/login" target="http://securepassword.hopto.org/">Secure password</a> page, once registered you can use this plugin to access your passwords immediately.</p>
                   </div>
            </div>

            <header class="page-header">
            </header>
            <div class="col-lg-4">
            <a href="/signinPlugin">    Back</a>
            </div>
            <p> &nbsp; </p>


            <link rel="stylesheet" href="/assets/css/bootstrap.min.css">

            <link rel='stylesheet' href='/stylesheets/style.css'>


            <!-- Custom styles for our template -->
            <link rel="stylesheet" href="/assets/css/bootstrap-theme.css" media="screen" >
            <link rel="stylesheet" href="/assets/css/main.css">
