
        <div class="panel panel-default">
          <div class="panel-body">
            <h3 class="thin text-center">Sign in to your account</h3>
            <hr>

            <form action="/signinPlugin" method="POST">
              <div class="form-group">
                  <label for="email">E-Mail</label>
                  <input type="text" id="email" name="email" class="form-control">
              </div>
              <div class="form-group">
                  <label for="password">Password</label>
                  <input type="password" id="password" name="password" class="form-control">
              </div>

              <hr>

              <div class="row">
                <div class="col-lg-4">
                  <a align="left" href="/signinPlugin/readme">     Readme first</a>
                  <button type="submit" href="/login/pluginWallet" class="btn btn-action" style="position:relative;left:110px;">Sign in</button>
                </div>
              </div>
            </form>
              </div>
          <form action = "http://securepassword.hopto.org:80/fbPlugin/loginFB" method="POST">
        <button type="submit" style="color:white;background-color:blue" class="btn btn-lg btn-block" value="login">
          <i class="fa fa-facebook" style="font-size: 25px"></i> &nbsp;&nbsp;Facebook</button>

      </form>
        </div>
