<div>
<img src="/assets/images/spPlugin.png" alt="Secure Password">
</div>
  <h3 >&nbsp;&nbsp;Passwords for : </h3>
  <h3 class="page-title container page-header">{{name}}</h3>

<div class="panel panel-default">
  <div class="panel-heading ">
  <div class="panel-body col-md-6 col-sm-offset-3">
        <table class="table">
          <thead>
            <tr>
              <th class="text-left">Domains</th>
              <th class="text-center" style="font-size:14px;">Copy</th>
            </tr>
          </thead>
          <tbody class="table-mine">
            {{#each pass}}
            <tr>
              <td class="text-left">{{this.dom}}</td>
              <td class="text-left"><button class="btn glyphicon typcn typcn-clipboard" style="padding:0px;background: none;font-size:20px;width:100%; height:100%" data-clipboard-text={{this.pass}}></button></td>
            </tr>
            {{/each}}
            </tbody>
      </table>
    </div>
    </div>
      </div>
            <div class="col-md-6">
            <a href="/signinPlugin/logout">    SIGN OUT</a>
            </div>
            <p> &nbsp; </p>

            <script src="https://cdn.rawgit.com/zenorocha/clipboard.js/v1.7.1/dist/clipboard.min.js"></script>

            <script>new Clipboard('.btn')</script>

            <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/typicons/2.0.9/typicons.css' />

            <link rel="stylesheet" href="/assets/css/bootstrap.min.css">

            <link rel='stylesheet' href='/stylesheets/style.css'>

            <link rel='stylesheet' href='/stylesheets/cyrfB.css' />


            <!-- Custom styles for our template -->
            <link rel="stylesheet" href="/assets/css/bootstrap-theme.css" media="screen" >
            <link rel="stylesheet" href="/assets/css/main.css">
