<div  id="head" class="secondary"></div>
    <div class="container-fluid">

      <div class="navbar navbar-inverse navbar-fixed-top headroom" >
    		<div class="container">
    			<div class="navbar-header">
    				<!-- Button for smallest screens -->
    				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
    				<a class="navbar-brand" href="/"><img src="/assets/images/logo.png" style="width:150px;" alt="Secure Password"></a>
    			</div>
    			<div class="navbar-collapse collapse">
    				<ul class="nav navbar-nav pull-right">
              {{#if session}}
              <li><a href="/">Home</a></li>
              <li><a href="/about">About</a></li>
              <li><a href="/contact">Contact</a></li>
              <li class="active"><a href="/wallet">Wallet</a></li>
              <li><a  class="btn" href="/login/logout">SIGN OUT</a></li>
                  {{^}}
                  <li><a href="/">Home</a></li>
                  <li><a href="/about">About</a></li>
                  <li><a href="/contact">Contact</a></li>
                  <li><a class="btn" href="/login">SIGN IN / SIGN UP</a></li>
                  {{/if}}
    				</ul>
    			</div><!--/.nav-collapse -->
    		</div>
    	</div>


</div>
<div class="container">

  <ol class="breadcrumb row-fluid">
    <li><a href="/">Home</a></li>
    <li class="active">Wallet</li>
  </ol>
  <header class="page-header">
    <h1 class="page-title">Wallet</h1>
  </header>

<h1>Passwords for : {{name}}</h1>

<div>
<div class="panel panel-default">
  <div class="panel-heading">
          <div class="panel-body">
            {{#if flag}}
            {{^}}
                <table class="table-fill" style="width: 100%;height: 100%;">
                  <thead>
                    <tr>
                      <th class="text-left">Domains</th>
                      <th class="text-left">Passwords</th>
                      <th style="text-align:center">  Copy</th>
                    </tr>
                  </thead>
                  <tbody class="table-hover">
                    {{#each pass}}
                    <tr>
                      <td class="text-left">{{this.dom}}</td>
                      <td class="text-left">{{this.pass}}</td>
                      <td class="text-left"><button class="btn glyphicon typcn typcn-clipboard" style="background: none;font-size:16px;" data-clipboard-text={{this.pass}}></button></td>
                    </tr>
                    {{/each}}
                    </tbody>
              </table>

              {{/if}}


            </div>

  <div style="text-align:center">
  <form action="/wallet/editWallet" method="get">
    <button type="submit" class="btn btn-action">Manage domains</button>
  </form>
  </div>

  </div>


  </div>
</div>
</div>







<div id="head" style="background:transparent;"class="secondary"></div>

</nav>

<link rel='stylesheet' href='/stylesheets/cyrfB.css' />
<script src="https://cdn.rawgit.com/zenorocha/clipboard.js/v1.7.1/dist/clipboard.min.js"></script>


<script>new Clipboard('.btn')</script>


<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/typicons/2.0.9/typicons.css' />



<!-- /Footer -->

<footer id="footer" class="top-space">

  <div class="footer1">
    <div class="container">
      <div class="row">

        <div class="col-md-3 widget">
          <h3 class="widget-title">Contact</h3>
          <div class="widget-body">
            <p>01 33 1368 2200<br>
              <a href="mailto:#">team5@up.edu.mx</a><br>
              <br>
              Calz Nueva 49, Granja, 45010 Zapopan, Jal.
            </p>
          </div>
        </div>

        <div class="col-md-3 widget">
          <h3 class="widget-title">Follow me</h3>
          <div class="widget-body">
            <p class="follow-me-icons">
              <a href=""><i class="fa fa-twitter fa-2"></i></a>
              <a href=""><i class="fa fa-dribbble fa-2"></i></a>
              <a href=""><i class="fa fa-github fa-2"></i></a>
              <a href=""><i class="fa fa-facebook fa-2"></i></a>
            </p>
          </div>
        </div>

        <div class="col-md-6 widget">
          <h3 class="widget-title"> Get started today</h3>
          <div class="widget-body">
            <p>Secure password simplifies your online life by remembering your passwords for you. </p>
            <p>With Secure password to manage your logins, it's easy to have a strong, unique password for every online account and improve your online security. Get started today </p>
          </div>
        </div>

      </div> <!-- /row of widgets -->
    </div>
  </div>

  <div class="footer2">
    <div class="container">
      <div class="row">

        <div class="col-md-6 widget">
          <div class="widget-body">
            <p class="simplenav">
              <a href="/">Home</a> |
              <a href="/about">About</a> |
              <a href="/contact">Contact</a> |
              <b><a href="/users/create">Sign up</a></b>
            </p>
          </div>
        </div>

        <div class="col-md-6 widget">
          <div class="widget-body">
            <p class="text-right">
              Copyright &copy; 2017,Designed by <a href="http://securepassword.hopto.org/" rel="designer">Team 5</a>
            </p>
          </div>
        </div>

      </div> <!-- /row of widgets -->
    </div>
  </div>

</footer>
